<div id="app"></div>

<script type="html/template" id="AppViewTemplate">
  <h1>Main App View</h1>
  <hr/>
</script>

<script type="html/template" id="searchTemplate">
    <input id="from" type="text" placeholder="from..">
    <input id="to" type="text" placeholder="to..">
    <button>Search Flights</button>
</script>

<script type="html/template" id="flightViewTemplate">
    <ul id="flightInfoList">
        {{departure_date}}
        {{from}}
        {{to}}
        {{flight_no}}
    </ul>
</script>

<script type="html/template" id="planesViewTemplate">
    <h3>{{ name }} , {{ plane_type }}  , {{rows}}  , {{columns}}</h3>
</script>
