<div id="app">main app</div>

<script type="html/template" id="AppViewTemplate">
  <h1>Main App View</h1>
  <hr/>
</script>

<script type="html/template" id="search">
  <button>Search Flights</button>
</script>
